:root {
    --bg-normal: rgb(2,0,36);
    --bg-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,62,62,1) 0%, rgba(255,91,206,1) 100%);
}

html {
    background: var(--bg-normal);
    background: var(--bg-gradient);
    color: white;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-normal);
    background: var(--bg-gradient);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    text-align: center;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.container-header {
    margin-bottom: 2.5rem;
}

.tree-container {
    width: 100%;
    max-width: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-title {
    text-align: center;
    font-size: clamp(6rem, 30vw, 120px);
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.header-description {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: clamp(1rem, 3vw, 30px);
    margin: 0;
    padding: 0;
    font-style: italic;
}

.header-details {
    height: 1rem;
    text-align: center;
    font-size: clamp(1rem, 2vw, 20px);
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

.tree-item {
    display: block;
    height: 6vh;
    background: rgba(255, 255, 255, .2);
    margin: 1rem;
    border-radius: 3rem;
    transition: .1s;
}

.item-link {
    display: block;
    text-decoration: none;
    color: white;
    font-size: clamp(1rem, 2vh, 4rem);
    width: 100%;
    height: 100%;
    line-height: 6vh;
    font-weight: normal;
    transition: .1s;
}

.item-link:hover {
    font-weight: bold;
}

.tree-item:hover {
    background: rgba(255, 255, 255, .3);
}
